
.header{
  z-index: 999;
}

//Slide

.carousel{
  .carousel-thumbnail{
    height: 640px;
    object-fit: cover;
  }
  .carousel-legend {
    bottom: 6rem;
    left: 0;
    p{
      color: $white;
    }
  }

  @include media-breakpoint-down(sm) {
    .carousel-thumbnail{
      height: 490px;
      .carousel-legend{
        left: 0;
        padding: 0 .2rem;
        bottom: 1rem !important;
        p{
          text-align: center;
          font-size: 1.1rem;
          line-height: 1.2rem;
        }
      }
    }
  }

  .owl-nav {
    button{
      top: 6rem;
      i{
        font-size: 3rem !important;
      }
    }
    .owl-prev, .owl-next{
      background: none !important;
    }
  }
}




//Footer

.footer {
  h6 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
  }
}