
//Up Navbar
.upnavbar {
  background: $gray-400;
  font-size: 1.3rem;
  .navbar-brand {
    img{
      width: 140px;
      z-index: 10;
    }
  }
  .upnav-items {
    li {
      .fas {
        font-size: 1.5rem;
      }
    }
  }
}

//Nav Bar
.navbar {
  .navbar-nav{
    .active>{
      .nav-link{
        color: $primary-color;
      }
    }
  }
  .nav-item{
    .nav-link{
      color: $white;
      &:hover, &:focus, &:active{
        color: $primary-color;
      }
    }
    .dropdown-menu{
      border-radius: 0;
      padding: 0;
      box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
      top: 2.9rem;
      width: 265px;
      left: -4rem;
      li{
        a{
          padding: .7rem 2rem;
          font-size: .9rem;
          font-family: montserratsemibold;
          color: #212529 !important;
          border-bottom: solid 1px #ebebeb;

          &:hover, &:active{
            background: $primary-color;
            color: $white !important;
          }
        }
        &:last-child{
          a{
            border:0;
          }
        }
      }
    }
  }

  .navbar-collapse{
    justify-content: flex-end;
  }
  .navbar-toggler{
    outline: none;
  }
  @include media-breakpoint-down(lg) {
    .navbar-nav .nav-link{
      justify-content: center;
      padding: 1rem 0;
    }
    .dropdown-menu{
      width: 100%;
      margin: -.6rem 0 0 0 !important;
    }
    text-align: center;
  }
}